.header {
  background: white;
  height: 45px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;

  & .logo {
    height: 17px;
    position: relative;
    top: 15px;
  }
}

@media (--medium-viewport) {
  .header {
    text-align: left;

    & .logo {
      left: 12px;
    }
  }
}

@media (--large-viewport) {
  .header {
    height: 60px;
    position: unset;
    text-align: center;

    & .logo {
      height: 25px;
      left: unset;
    }
  }
}
