.quiz {

  &.active {
    animation: fadeIn 0.5s ease-out;
  }

}

.quiz__contents {
  padding-top: 45px;
  padding-bottom: 40px;
  z-index: 0;
}

@media (--medium-viewport) {

  .quiz__contents {
    padding-bottom: 0;
  }

}

@media (--large-viewport) {

  .quiz__contents {
    padding-top: 60px;
  }

}
