@keyframes quiz--fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.quiz {
  height: 100%;
  overflow-y: auto;
}

.quiz--active {
  animation: quiz--fadeIn .5s ease-out;
}

.quiz__contents {
  padding-bottom: 40px;
  padding-top: 45px;
  z-index: 0;
}

@media (--medium-viewport) {
  .quiz__contents {
    padding-bottom: unset;
  }
}

@media (--large-viewport) {
  .quiz__contents {
    margin: 0 auto;
    padding-top: 10px;
    width: 1024px;
  }
}
