@keyframes results--slideUp {
  to {
    bottom: 50%;
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes results--slideDown {
  to {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 100%;
  }
}

@keyframes results--scaleStarUp {
  to {
    transform: scale3d(2, 2, 1);
  }
}

.results {
  background: white;
  border-top: 1px solid lightgrey;
  bottom: 0;
  font-weight: bold;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.results--complete {
  animation: results--slideUp .3s forwards;
  border-top: unset;
}

.results__stars {
  display: flex;
  justify-content: space-evenly;
}

.results__star {
  height: 30px;
  margin-top: 5px;
}

.results__star-path {
  fill: none;
  stroke: lightgrey;
  stroke-width: 2;
}

.results__star--correct {
  animation: tada .5s;

  & .results__star-path {
    fill: limegreen;
    stroke: limegreen;
  }
}

.results__star--incorrect {
  animation: tada .5s;

  & .results__star-path {
    stroke: red;
  }
}

.results__details {
  animation: fadeBlurIn .3s ease-out .3s forwards;
  margin-top: 30px;
  opacity: 0;
}

.results__reset-button {
  animation: fadeBlurIn .3s ease-out .6s forwards;
  cursor: pointer;
  margin-top: 20px;
  opacity: 0;
}

.results__reset-icon {
  height: 18px;
  position: relative;
  right: 4px;
  top: 4px;
}

@media (--medium-viewport) {
  .results {
    background: unset;
    border-top: unset;
    bottom: unset;
    font-size: 20px;
    height: unset;
    right: 0;
    top: 0;
    width: calc(100% - 90px);
  }

  .results__details {
    margin-top: 40px;
  }

  .results__reset-icon {
    top: 3px;
  }

  .results--complete {
    animation: results--slideDown .3s forwards;

    & .results__star {
      animation: results--scaleStarUp .3s forwards;
    }
  }
}

@media (--large-viewport) {
  .results {
    position: relative;
    font-size: 24px;
    right: unset;
    width: unset;
  }

  .results__details {
    margin-top: 50px;
  }

  .results__stars {
    justify-content: space-between;
    margin: 0 auto;
    width: 512px;
  }

  .results__reset-icon {
    top: 2px;
  }
}
