@keyframes results--slideUp {
  to {
    bottom: 50%;
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes results--slideDown {
  to {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 100%;
  }
}

.results {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid lightgrey;
  background: white;
  z-index: 2;

  &.complete {
    border-top: unset;
    animation: results--slideUp 0.3s forwards;
  }
}

.results__stars {
  display: flex;
  justify-content: space-evenly;
}

.results__star {
  margin-top: 5px;
  height: 30px;
}

.results__star-path {
  fill: none;
  stroke: lightgrey;
  stroke-width: 2;
}

.results__star--correct {

  animation: tada 0.5s;

  & .results__star-path {
    stroke: limegreen;
    fill: limegreen;
  }

}

.results__star--incorrect {

  animation: tada 0.5s;

  & .results__star-path {
    stroke: red;
  }

}

.results__details {
  margin-top: 30px;
  opacity: 0;
  animation: fadeBlurIn 0.3s ease-out 0.3s forwards;
}

.results__reset-button {
  cursor: pointer;
  margin-top: 20px;
  opacity: 0;
  animation: fadeBlurIn 0.3s ease-out 0.6s forwards;
}

.results__reset-icon {
  position: relative;
  top: 4px;
  right: 4px;
  height: 18px;
}

@media (--medium-viewport) {

  .results {
    top: 0;
    right: 0;
    bottom: unset;
    width: calc(100% - 90px);
    border-top: unset;
    background: unset;


    &.complete {
      animation: results--slideDown 0.3s forwards;
    }
  }

}

@media (--large-viewport) {

  .results {
    width: calc(50% - 80px);
  }

  .results__star {
    margin-top: 10px;
  }

}
