@keyframes showResults {
  0%   { opacity: 0; filter: blur(10px); }
  100% { opacity: 1; filter: blur(0); }
}

@keyframes showGrade {
  0%   { opacity: 0; }
  50%  { opacity: 0; filter: blur(10px); }
  100% { opacity: 1; filter: blur(0); }
}

@keyframes showDetails {
  0%   { opacity: 0; }
  66%  { opacity: 0; filter: blur(10px); }
  100% { opacity: 1; filter: blur(0); }
}

@keyframes showResetButton {
  0%   { opacity: 0; }
  75%  { opacity: 0; filter: blur(10px); }
  100% { opacity: 1; filter: blur(0); }
}

.results {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgba(255, 255, 255, 0.9);
  animation-name: showResults;
  animation-duration: 0.3s;
}

.results__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;
  text-align: center;
}

.results__grade {
  font-size: 400px;
  line-height: 400px;
  animation-name: showGrade;
  animation-duration: 0.6s;
}

.results__grade--A {
  color: limegreen;
}

.results__grade--B {
  color: yellowgreen;
}

.results__grade--C {
  color: orange;
}

.results__grade--D {
  color: orangered;
}

.results__grade--F {
  color: red;
}

.results__details {
  white-space: nowrap;
  animation-name: showDetails;
  animation-duration: 0.9s;
}

.results__reset-button {
  margin-top: 10px;
  animation-name: showResetButton;
  animation-duration: 1.2s;
  cursor: pointer;

  & .reset-icon {
    position: relative;
    top: 4px;
    right: 4px;
    height: 18px;
  }

}

@media (--landscape) {

  .results__grade {
    font-size: 200px;
    line-height: 200px;
  }

}
