.welcome {
  font-weight: bold;
  white-space: nowrap;
}

.welcome__heading, .welcome__question, .welcome__button {
  height: 50px;
  left: calc(50% - 100px);
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: calc(50% - 25px);
  width: 200px;
}

.welcome__heading, .welcome__question {
  animation: fadeBlurInOut 1.2s ease-out;
  text-align: center;
}

.welcome__heading {
  font-size: 32px;
}

.welcome__question {
  animation-delay: .9s;
}

.welcome__button {
  animation: bounceBlurIn .6s ease-out 1.9s forwards;
  background: limegreen;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  left: calc(50% - 25px);
  user-select: none;
  width: 50px;
  -webkit-tap-highlight-color: transparent;
}

.welcome__button--clicked {
  animation: bounceBlurOutUp 1s ease-out;
}
